

Body {
  font-family:Palatino;
  align-items: center;
}

h1{
  Font-family: Palatino;
  text-align: center;
}

header{
  background-color: #FF8E6B;
  margin-bottom: 1rem;
}


#title{
  position:relative;
  transform: translateY(15%)
}

#category{
  max-height: 20px;
  font-size: 0.75vw;
  max-width:20px;
  position: absolute;
  padding: 0;
}

.blog-heading{
  Display:inline-flex;
}

.footer{
  background-color:#FF8E6B;
  margin-top: 3rem;

}

.category{

}

.blog-image {
  max-width: 100%;
}

.featured-image {
  max-width: 600px;
  display:inline-flex;
}

.Featured-blog-link {
  color:black;
  text-decoration: none;
  Font-family: Palatino;
}

.Featured-blog-link:hover {
  color:grey;
}
