

Body {
  font-family:Palatino;
  align-items: center;
}

h1{
  Font-family: Palatino;
  text-align: center;
}

header{
  background-color: #FF8E6B;
  margin-bottom: 1rem;
}


#title{
  position:relative;
  transform: translateY(15%)
}

.blog-heading{
  Display:inline-flex;
}

footer{
  background-color:#FF8E6B;
  position:relative;
  transform: translateY(20%)
}

.category{
  display: inline;
  padding:5px;
}

.blog-image {
  max-width: 100%;
}

.featured-image {
  max-width: 600px;
  display:inline-flex;
}

.Featured-blog-link {
  color:black;
  text-decoration: none;
  Font-family: Palatino;
}

.Featured-blog-link:hover {
  color:grey;
}
