/* Hero Page CSS*/


/* Hero
 * --------------------------- */
 .hero {
  padding: 0;
  min-height: 500px;
  text-align: center;
  position: relative;
  background-color: #d56d4d; /* layer fill content */
  color: white;
 }

/* Hero content
 * --------------------------- */
.hero-content {
  padding: 12px;
  max-width: 192px; }
/* Hero image
 * --------------------------- */

.hero-image {
  background: url("https://timothytolley.github.io/image/rag1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: .9;
}

#image1{
  display: flex;
  width: 100%;
  height: auto; }

#icon{
  width:25px;
  height:25px;
  Margin:1px;
  Border-radius: 10%;
  position:static;
  align-items: center, baseline;}



/* homepage*/



/*Homepage Css*/

Body {
  font-family:Palatino;
  align-items: center;
  background-color: #FFFEFC;
}

h2{
  Font-family: Palatino;
  text-align: center;
}

header{
  background-color: #E8E8E1;
}

#title{
  position:relative;
  transform: translateY(15%)
}

/*navigation*/

.navigation{
  position: sticky;
  background-color: #E8E8E1;
  margin-bottom: 15px
}



#category{
  font-size: 0.75vw;
  width:inherit;
  padding:inherit;
  padding-left:10px;
  padding-right:10px;
  padding bottom:5px;
  Margin-right:10px;
}

/*Featured Post*/

.featured-image {
  max-width: 600px;
  display:inline-flex;
}

.Featured-blog-link {
  color:black;
  text-decoration: none;
  Font-family: Palatino;
}

.Featured-blog-link:hover {
  color:grey;
}

/*Blog Post*/

.summary{
  padding-bottom:40px;
}

.blog-heading{
  Display:inline-flex;
  text-decoration: none;
  color:black;
  font-size: 2vw;
}

.blog-heading:hover{
  color:grey;
}

.blog-image {
  max-width: 100%;
}



/*Footer*/

.footer{
  background-color:#E8E8E1;
  margin-top: 3rem;
  padding-top: 20px;
  padding-bottom:20px;
}

#footer-nav{
  text-decoration: none;
  text-align: left;
  color:grey;
  padding-bottom: 10px;
}

#footer-nav:hover{
  color:black;
}

/* Blog post CSS */


.Blog-title {
  Color:Black
  padding:20px;
}

#Shereef{
  text-decoration: none;
  color:black;
}

/* maori proverb */
#proverb{
  align-items: center;
  border-color: black
}

#pro{
  font-weight: bold;
}


/*calculator*/

#calculator {
  align-content: center;
  background-color: grey;
  border-color: black;
}
